body {
	font-size: 2em;
}

.container {
	width: 50%;
	margin: auto;
}

.sayLimit, .display {
	text-align: center;
}

input {
	padding: 10px;
	text-align: center;
	font-size: 1em;
}

table {
	display: inline-block;
	margin: 20px 0px;
}

td {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.cell.hover {
	background: orange;
	color: white;
	cursor: pointer;
}

/*==============================
Opacity Animation
==============================*/
/*
.cell, .row {
	-webkit-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.cell.ng-enter, .row.ng-enter {
	opacity: 0;
}

.cell.ng-enter-active, .row.ng-enter-active {
	opacity: 1;
}

.cell.ng-leave, .row.ng-leave {
	opacity: 1;
}

.cell.ng-leave-active, .row.ng-leave-active {
	opacity: 0;
}

.cell.ng-enter-stagger, .cell.ng-leave-stagger, .row.ng-enter-stagger, .row.ng-leave-stagger {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}*/

/*===========@keyframes==========

/*.cell {
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}*/

/*.cell.ng-enter, .row.ng-enter {
	-webkit-animation: cellEnter 1s;
	animation: cellEnter 1s;
}

@-webkit-keyframes cellEnter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes cellEnter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.cell.ng-leave, .row.ng-leave {
	-webkit-animation: cellLeave 1s;
	animation: cellLeave 1s;
}

@-webkit-keyframes cellLeave {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes cellLeave {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}*/



/*==============================
Translate Animation
==============================*/

.cell, .row {
	-webkit-transition: transform 0.5s linear;
	-o-transition: transform 0.5s linear;
	transition: transform 0.5s linear;
}

.cell.hover {
	background: orange;
	color: white;
}

.cell.ng-enter, .row.ng-enter {
	-webkit-transform: translateY(1500px);
	transform: translateY(1500px);
}

.cell.ng-enter-active, .row.ng-enter-active {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.cell.ng-leave, .row.ng-leave {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.cell.ng-leave-active, .row.ng-leave-active {
	-webkit-transform: translateY(1500px);
	transform: translateY(1500px);
}

.cell.ng-enter-stagger, .cell.ng-leave-stagger, .row.ng-enter-stagger, .row.ng-leave-stagger {
	-webkit-transition: all 0s linear 1s;
	transition: all 0s linear 1s;
/*	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;*/
}




/*===========@keyframes==========

/*.cell.ng-enter, .row.ng-enter {
	-webkit-animation: slideUp 1s linear;
	animation: slideUp 1s linear;
}


@-webkit-keyframes slideUp {
	from {
		transform: translateY(1500px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes slideUp {
	from {
		transform: translateY(1500px);
	}
	to {
		transform: translateY(0px);
	}
}

.cell.ng-leave, .row.ng-leave {
	-webkit-animation: slideDown 1s linear;
	animation: slideDown 1s linear;
}

@-webkit-keyframes slideDown {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(1500px);
	}
}

@keyframes slideDown {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(1500px);
	}
}*/


/*==============================
Class Animation
==============================*/

/*.cell.hover-add {
	-webkit-transition-duration: 3s;
	transition-duration: 3s;
	background: red;
	color: orange;
}

.cell.hover-add-active {
	background: yellow;
	color: green;
}

.cell.hover-add-stagger, .cell.hover-remove-stagger, .row.hover-add-stagger, .row.hover-remove-stagger {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}*/

/*===========@keyframes==========*/

/*.cell.hover {
	-webkit-animation: hover 5s linear;
	animation: hover 2s linear;
}

@-webkit-keyframes hover {
	from {
		background: red;
	}
	to {
		background: green;
	}
}

@keyframes hover {
	from {
		background: red;
	}
	to {
		background: green;
	}
}*/